@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Campohr";
  src: url("/fonts/campohr.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Monaco";
  src: url("/fonts/monaco.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Campohr", sans-serif;
}

@layer base {
  :root {
    --background: 172 31% 95%;
    --foreground: 172 5% 0%;
    --card: 172 31% 90%;
    --card-foreground: 172 5% 10%;
    --popover: 172 31% 95%;
    --popover-foreground: 172 95% 0%;
    --primary: 172 50% 17.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 172 30% 70%;
    --secondary-foreground: 0 0% 25%;
    --muted: 134 30% 85%;
    --muted-foreground: 172 5% 35%;
    --accent: 134 30% 80%;
    --accent-foreground: 172 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 172 5% 90%;
    --border: 172 30% 50%;
    --input: 172 30% 18%;
    --ring: 172 50% 17.3%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 172 31% 5%;
    --foreground: 172 5% 90%;
    --card: 172 31% 0%;
    --card-foreground: 172 5% 90%;
    --popover: 172 31% 5%;
    --popover-foreground: 172 5% 90%;
    --primary: 172 50% 17.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 172 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 134 30% 15%;
    --muted-foreground: 172 5% 60%;
    --accent: 134 30% 15%;
    --accent-foreground: 172 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 172 5% 90%;
    --border: 172 30% 18%;
    --input: 172 30% 18%;
    --ring: 172 50% 17.3%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

